@import "/node_modules/codemirror/lib/codemirror.css";

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.instructions {
  font-weight: bold;
  display: block;
}

.model-text {
  padding: 0.5rem;
  white-space: pre;
  width: 100%;
  height: 5rem;
}

.answer {
  padding: 0.5rem;
  white-space: pre;
  border: 0.01rem dotted black;
}

.wrong {
  background-color: #fcbcbc;
}
